img{
    height: 50px;
}
.navbar ul li { 
    list-style: none; 
    display: inline-block; 
    margin: 20px; 
    position: relative; 
} 
 
.navbar ul li a{ 
    text-decoration: none; 
    color: #000000; 
    text-transform: uppercase; 
    font-size: large; 
} 
 
.navbar ul li::after{ 
    content: ''; 
    height: 3px; 
    width:0; 
    background: DarkSalmon; 
    position: absolute; 
    left: 0; 
    bottom: -2; 
    transition: 0.5s; 
} 
.navbar ul li:hover::after{ 
    width: 100%; 
 
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.548); 
    z-index: 1; 
    font-family: 'Teko', sans-serif;
  }
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
  }
  
.column {
    float: left;
    width: 30%;
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-radius: 1%;
    min-width: 330px;
    font-family: 'Mulish', sans-serif;
    background-color:#035d2298;
  }
  
  .row {
    content: "";
    display: table;
    clear: both;
    margin-top: 300px; margin-left: 80px;  margin-right: 50px;
  }
  footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }
  .paraH {padding-left: 10px;}
  .paraP{
    padding-right: 10px; padding-left: 10px;
  }
  img{
    border-radius: 1%;
  }
  .headH{
   margin-top: 200px;
   font-family:'https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,200&family=Philosopher&family=Teko:wght@300&display=swap';
   font-size: 70px;
   color: aliceblue;

  }
  .headP{
    margin-top: -40px;
    margin-left: 20px;
   font-size: 50px;
   font-family: 'Tajawal', sans-serif;
   color: aliceblue;
}
.articleImg{
   width: 100%; height: 60%;
}